# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c937163bc875efcb09d6144262665a91a6a2308619b4ec9cb27fd55692e29c0a20951e30be272ed1119b5acb353a892d7eab05b7bbcebd462adb057ed8db6da9
  telegram:
    bot:
      token: <%= ENV["TELEGRAM_BOT_TOKEN"] %>
      username: <%= ENV["TELEGRAM_BOT_NAME"] %>
      async: true
      # botan:
      #   token: botan_token
      #   # async: true
test:
  secret_key_base: 5fd1cf5a834b9218365e9e44982119a01a7f1ced63d49a2fc2016f3713bbb8a519e8c5fb439a68ba5d7800dd7bd1b53edd4c7678e88944ce5ff8b7718ae3041d
  telegram:
    bot:
      token: "test"
      username: "test"
      async: true


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
